  
{
  box-sizing: border-box;
}
body{
background-color: #D2B48C;
}


h1 {
	font-size: 27px;
	font-family: Helvetica;
	text-align: center;
	color: solid black;
	margin-bottom: 30px;
        
}

p {
	padding: 15px 5px 0px 5px;
	font-family: Helvetica;
	font-size: 16px;
	position: relative;
}

.section { 
	background-color: grey;
   	border: 2px solid black;
   	margin-top: 20px; 
   	margin-right: 20px; 
   	padding: 3px;
   	text-align: justify;
   	position: relative;
 }

span {
	font-size: 20px;
	width: 150px;
	border: 1px solid black;
	font-weight: bold;
	text-align: center;
float: right; top :0; right: 0; margin: 0;
	position: absolute;
}
#pp1 {
	background-color: #00008B;
	color: solid black;
}
#pp2 {
	background-color: #8B0000;
	color: white;
}
#pp3 {
	background-color: #9400D3;
	color: solid black;
}
}

.row {
	width: 100%;
}

/********** Large devices only **********/

@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/********** Small devices only **********/
@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}